* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
}

h1 {
    color: rgb(168, 255, 255);
}

button {
    outline: none;
    border: none;
    padding: 0.25rem 0.75rem;
    background:aqua;
    cursor: pointer;
    border-radius: 3px;
    color: #222;
    transition: ease 0.2s;
}

button:hover {
    background-color: rgb(133, 255, 255);
}

.calender-container {
    width: 770px;
    margin: 2rem auto 0 auto;
}

.calender-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weekday-header {
    display: flex;
    padding: 1rem 0 0.5rem 0.75rem;
}

.weekday-title {
    font-size: 0.8rem;
    padding-right: 20px;
}

.weekday {
    width: 100px;
    margin-right: 5px;
    width: 770px;
}

.calender {
    width: 770px;
    display: flex;
    flex-wrap: wrap;
}

.day {
    width: 100px;
    height: 100px;
    border: 1px solid #555;
    /* background-color: hsla(281, 10%, 30%, 1); */
    background-color: #444;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: ease 0.2s;
}

.padding {
    background-color: #333;
    border: none;
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: default;
}

.today {
    background-color: rgb(106, 95, 122);
}

.day:hover {
    background-color: #555;
}

.day.padding:hover {
    background-color: #333;
}


 /* ----------------------Modal */
 .modal-Bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    display: none;
 }

 .modal-dialog {
     max-width: fit-content;
     position: relative;
     display: flex;
     flex-direction: column;
     padding: 2rem;
     margin: 10% auto;
     background-color: #444;
     border-radius: 10px;
 }

 .modal-close-btn {
     position: absolute;
     top: 5px;
     right: 10px;
     cursor: pointer;
 }

 .modal-dialog div {
     display: flex;
     justify-content: space-between;
 }

 .modal-dialog input {
     padding: 8px 70px 8px 8px;
     margin: 1rem 0;
     border-radius: 3px;
     outline: none;
     border: none;
 }

 .modal-save-btn {
     width: 100px;
 }
 .modal-save-btn:hover {
     background-color: rgb(133, 255, 255);
 }
 .modal-cancel-btn {
     background-color: #ff7a4a;
     width: 100px;
 }
 .modal-cancel-btn:hover {
     background-color: #ffa686;
 }

.createEventModal {
    /* display: none; */
}

.deleteEventModal {
    display: none;
}